---
import Layout from "../layouts/Layout.astro";

import config from "../medical-id.config";

import IMG_7075 from "../assets/IMG_7075.jpg";

const {
	name,
	birthday,
	pronouns,
	bloodType,
	instructions,
	conditions,
	meds,
	allergies,
	surgeries,
	vaccinations,
	providers,
	insurance,
	dateTimeFormatter,
} = await config();

const birthdate = dateTimeFormatter.format(birthday);
---

<Layout>
	<header class="p-10">
		<h1 class="text-3xl">{name}</h1>
		<img src={IMG_7075.src} alt="">

		<dl class="grid grid-cols-2 w-fit">
			<dt><p class="text-neutral-400">Birthday:</p></dt>
			<dd><p>{birthdate}</p></dd>

			<dt><p class="text-neutral-400">Pronouns:</p></dt>
			<dd><p>{pronouns}</p></dd>

      		<dt><p class="text-neutral-400">Blood Type:</p></dt>
			<dd><p>{bloodType}</p></dd>
		</dl>
	</header>

	<main class="flex flex-col gap-6 p-10">
		<section>
			<h2 class="text-2xl mb-4">Instructions</h2>

			<p>{instructions}</p>
		</section>

		<section class="flex flex-col gap-6">
		<div class="border rounded-lg border-blue-100 p-2">
			<h2 class="text-2xl mb-4">Conditions</h2>

			<ul class="list-disc pl-6">
				{
					conditions.map(({ name, notes }) => (
						<li>
							<p>{name}</p>

							{<p>{notes}</p>}
						</li>
					))
				}
			</ul>
		</div>
	
      <div class="border rounded-lg border-blue-100 p-2">
		<h2 class="text-2xl mb-4">Allergies</h2>

			<ul class="list-disc pl-6">
				{
					allergies.map(({ name, effects }) => (
						<li>
							<p>{name}</p>

							<dt><p class="italic">{effects}</p></dt>
						</li>
					))
				}
			</ul>
	  </div>
     <div class="border rounded-lg border-blue-100 p-2">
		<h2 class="text-2xl mb-4">Medications</h2>

		<ul class="list-disc pl-6">
			{
				meds.map(({ name, dose, frequency }) => (
					<li>
						<p>{name}</p>

		  {dose && <p>{dose}</p>}
						{frequency && <p>{frequency}</p>}
					</li>
				))
			}
		</ul>
	 </div>
      <div class="border rounded-lg border-blue-100 p-2">
		<h2 class="text-2xl mb-4">Past Surgeries</h2>

			<ul class="list-disc pl-6">
				{
					surgeries.map(({ name, administeredOn }) => (
						<li>
							<p>{name}</p>

							{administeredOn && <p>{administeredOn}</p>}
						</li>
					))
				}
			</ul>
	  </div>
      <div class="border rounded-lg border-blue-100 p-2">
		<h2 class="text-2xl mb-4">Past Vaccinations</h2>

			<ul class="list-disc pl-6">
				{
					vaccinations.map(({ name, administeredOn }) => (
						<li>
							<p>{name}</p>

							{administeredOn && <p>{administeredOn}</p>}
						</li>
					))
				}
			</ul>
	  </div>
      <div class="border rounded-lg border-blue-100 p-2">
		<h2 class="text-2xl mb-4">Providers</h2>

			<ul class="list-disc pl-6">
				{
					providers.map(({ name, specialty, phone }) => (
						<li>
							<p>{name}</p>

							{specialty && <p>{specialty}</p>}
              {phone && <p>{phone}</p>}
						</li>
					))
				}
			</ul>
	  </div>
     <div class="border rounded-lg border-blue-100 p-2">
		<h2 class="text-2xl mb-4">Insurance Provider</h2>

		<ul class="list-disc pl-6">
			{
				insurance.map(({ name, benefitsNumber, beneficiaryDoDId, sponserId }) => (
						<p>{name}</p>
						<dl class="grid grid-cols-2 w-fit">
		<dt><p class="text-neutral-400">Benefits Number:</p></dt>
		<dd><p>{benefitsNumber}</p></dd>

		<dt><p class="text-neutral-400">Beneficiary DoD ID #:</p></dt>
		<dd><p>{beneficiaryDoDId}</p></dd>

		  <dt><p class="text-neutral-400">Sponsor DoD ID #:</p></dt>
		<dd><p>{sponserId}</p></dd>
	</dl>
				))
			}
		</ul>
	 </div>
		</section>
	</main>
</Layout>
